@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
  padding-top: 4rem;
}

.text-large {
  font-size: $font-size-lg
}

// Mobile Safari & Chrome do not support background-attachment: fixed so this
// is a work-around.
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

// This would be a better way to do it... but doesn't work in mobile browsers.
// If mobile browsers start adding proper support for background-attachment and
// background-size then we should switch to this.
// .app {
//   background-position: bottom right;
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

header {
  background-color: rgba($white, 0.9);
  h1 {
    font-family: 'Kaushan Script', cursive;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}

h4 {
  border-bottom: 1px solid $gray-400;
}

h6 {
  font-weight: 700;
}

section {
  background-color: rgba($white, 0.95);
  margin-top: calc( 100vh - 9.25rem);
}

Select.is-focused {
  border-color: $primary;
}
